name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Run tests
      timeout-minutes: 15
      run: |
        MAX_RETRIES=5
        retry_count=0
        until [ $retry_count -ge $MAX_RETRIES ]
        do
          npm test && exit 0
          echo "Test failed. Retrying ($((retry_count+1))/$MAX_RETRIES)..."
          retry_count=$((retry_count+1))
        done
        echo "Test failed after $MAX_RETRIES attempts."
        exit 1
